# 提供中文markdown文档

# title index
md.title=groovy:```
    //increase index
    def i = session.get(deep+".i")
    i=i==null?1:i+1
    session.set(deep+".i",i)

    //title index
    def t = ""
    for(d in 1..deep){
        if(d>1){
            t += "."
        }
        t += session.get(d+".i")
    }

    return tool.repeat("#",deep) + " " + t + " " + title
```

# for api
md.basic=> 基础信息
md.basic.path=groovy:"**路径:** "+doc.path
md.basic.method=groovy:"**请求方法:** "+doc.method
md.basic.desc=groovy:"**备注:** "+doc.desc
md.request=> 请求参数
md.request.path=**路径参数:**
md.request.headers=**Headers:**
md.request.query=**Query:**
md.request.body=**Body:**
md.request.body.demo=**Body示例:**
md.request.form=**表单:**
md.response=> 返回数据
md.response.headers=**Headers:**
md.response.body=**Body:**
md.response.body.demo=**响应示例:**

# for method doc
md.methodDoc.desc=groovy:"**描述:** "+doc.desc
md.methodDoc.params=**参数:**
md.methodDoc.return=**返回:**

# for tables(request)
md.table.request.pathParams.name.name=名称
md.table.request.pathParams.value.name=值
md.table.request.pathParams.desc.name=备注

md.table.request.headers.name.name=名称
md.table.request.headers.value.name=值
md.table.request.headers.desc.name=备注
md.table.request.headers.required.name=必须

md.table.request.querys.name.name=名称
md.table.request.querys.value.name=值
md.table.request.querys.desc.name=备注
md.table.request.querys.required.name=必须

md.table.request.form.name.name=名称
md.table.request.form.value.name=值
md.table.request.form.desc.name=备注
md.table.request.form.type.name=类型
md.table.request.form.required.name=必须

md.table.response.headers.name.name=名称
md.table.response.headers.value.name=值
md.table.response.headers.desc.name=备注
md.table.response.headers.required.name=必须

md.table.request.body.name.name=名称
md.table.request.body.default.name=默认值
md.table.request.body.desc.name=备注
md.table.request.body.type.name=类型
md.table.request.body.required.name=必须

md.table.response.body.name.name=名称
md.table.response.body.default.name=默认值
md.table.response.body.desc.name=备注
md.table.response.body.type.name=类型
md.table.response.body.required.name=必须

# for tables(methodDoc)
md.table.methodDoc.params.name.name=名称
md.table.methodDoc.params.default.name=默认值
md.table.methodDoc.params.desc.name=备注
md.table.methodDoc.params.type.name=类型
md.table.methodDoc.params.required.name=必须

md.table.methodDoc.return.name.name=名称
md.table.methodDoc.return.default.name=默认值
md.table.methodDoc.return.desc.name=备注
md.table.methodDoc.return.type.name=类型
md.table.methodDoc.return.required.name=必须

# alias for bool
md.bool.true=是
md.bool.false=否