---
code: converts
description: Type conversions for common types (Date, ObjectId, etc.)
default-enabled: true
---

json.rule.convert[org.bson.types.ObjectId]=java.lang.String
json.rule.convert[java.util.Date]=java.lang.String
json.rule.convert[java.sql.Date]=java.lang.String
json.rule.convert[java.sql.Time]=java.lang.String
json.rule.convert[java.sql.Timestamp]=java.lang.String
json.rule.convert[java.time.LocalDateTime]=java.lang.String
json.rule.convert[java.time.LocalDate]=java.lang.String
json.rule.convert[java.math.BigInteger]=java.lang.Long
json.rule.convert[java.net.URL]=java.lang.String
json.rule.convert[java.util.concurrent.atomic.AtomicBoolean]=java.lang.Boolean
json.rule.convert[java.util.concurrent.atomic.AtomicLong]=java.lang.Long
json.rule.convert[java.util.concurrent.atomic.AtomicInteger]=java.lang.Integer
