---
code: field-utils
description: Field handling utilities (ignore system fields, transient, serialVersionUID, etc.)
default-enabled: true
---

# Ignore fields from java.lang system classes
field.ignore=groovy:!it.containingClass().name().startsWith("java.lang")&&it.defineClass().name().startsWith("java.lang")

# Ignore transient field
field.ignore=groovy:it.hasModifier("transient")

# Ignore serialVersionUID
constant.field.ignore=groovy:it.name()=="serialVersionUID"

# Only keep private/protected field
field.ignore=groovy:!(it.hasModifier("private")||it.hasModifier("protected"))

# Not ignore `static final` field
ignore_static_and_final_field=false

# Ignore some common classes
field.ignore=groovy:it.type().name()=="java.lang.Class"
field.ignore=groovy:it.type().name()=="java.lang.ClassLoader"
field.ignore=groovy:it.type().name()=="java.lang.Thread"
field.ignore=groovy:it.type().name()=="java.lang.ThreadLocal"
field.ignore=groovy:it.type().name()=="java.lang.Runtime"
field.ignore=groovy:it.type().name()=="java.lang.System"
field.ignore=groovy:it.type().name()=="java.lang.Process"
field.ignore=groovy:it.type().name()=="java.lang.ProcessBuilder"
field.ignore=groovy:it.type().name()=="java.lang.Appendable"
field.ignore=groovy:it.type().name()=="java.lang.CharSequence"
field.ignore=groovy:it.type().name()=="java.lang.Comparable"
field.ignore=groovy:it.type().name()=="java.lang.Iterable"
field.ignore=groovy:it.type().name()=="java.lang.Readable"
