---
code: jakarta-validation
description: Support for Jakarta validation annotations
on-class: jakarta.validation.constraints.NotNull
default-enabled: true
---

param.required=@jakarta.validation.constraints.NotBlank
field.required=@jakarta.validation.constraints.NotBlank
param.required=@jakarta.validation.constraints.NotNull
field.required=@jakarta.validation.constraints.NotNull
param.required=@jakarta.validation.constraints.NotEmpty
field.required=@jakarta.validation.constraints.NotEmpty
