---
code: javax-validation-strict
description: Support for Javax validation annotations with strict group checking
on-class: javax.validation.constraints.NotNull
default-enabled: false
---

json.group=groovy:session.get("json-group")
param.before=groovy:```
    if(!it.hasAnn("org.springframework.validation.annotation.Validated")){
        return
    }
    session.set("json-group", it.annValue("org.springframework.validation.annotation.Validated")
        ?: helper.findClass("javax.validation.groups.Default"))
```
param.after=groovy:```
    session.remove("json-group")
```
param.required=@javax.validation.constraints.NotBlank
param.required=@javax.validation.constraints.NotNull
param.required=@javax.validation.constraints.NotEmpty
check_annotated_Validated=```
    if(session.get("json-group") == null){
        return
    }
```
check_groups_javax=```
    for(annMap in annMaps){
        def fieldGroups = annMap["groups"] ?: [helper.findClass("javax.validation.groups.Default")]
        def paramGroups = session.get("json-group") ?: [helper.findClass("javax.validation.groups.Default")]
        for(fieldGroup in fieldGroups){
            for(paramGroup in paramGroups){
                if(fieldGroup.isExtend(paramGroup.name())){
                    return true
                }
            }
        }
    }
    return false
```
field.required[@javax.validation.constraints.NotBlank]=groovy:```
    ${check_annotated_Validated}
    def annMaps = it.annMaps("javax.validation.constraints.NotBlank")
    ${check_groups_javax}
```
field.required[@javax.validation.constraints.NotNull]=groovy:```
    ${check_annotated_Validated}
    def annMaps = it.annMaps("javax.validation.constraints.NotNull")
    ${check_groups_javax}
```
field.required[@javax.validation.constraints.NotEmpty]=groovy:```
    ${check_annotated_Validated}
    def annMaps = it.annMaps("javax.validation.constraints.NotEmpty")
    ${check_groups_javax}
```
