---
code: javax-validation
description: Support for Javax validation annotations
on-class: javax.validation.constraints.NotNull
default-enabled: true
---

param.required=@javax.validation.constraints.NotBlank
field.required=@javax.validation.constraints.NotBlank
param.required=@javax.validation.constraints.NotNull
field.required=@javax.validation.constraints.NotNull
param.required=@javax.validation.constraints.NotEmpty
field.required=@javax.validation.constraints.NotEmpty
