---
code: spring-configuration
description: Spring ConfigurationProperties support
on-class: org.springframework.boot.context.properties.ConfigurationProperties
default-enabled: true
---

# @ConfigurationProperties
properties.prefix=@org.springframework.boot.context.properties.ConfigurationProperties
properties.prefix=@org.springframework.boot.context.properties.ConfigurationProperties#prefix
