---
code: yapi-swagger
description: YAPI tag rules derived from Swagger annotations (Swagger 1, 2, and 3)
default-enabled: true
---

# Swagger 2 (io.swagger.annotations)
api.tag=@io.swagger.annotations.ApiOperation#tags

# OpenAPI 3 (io.swagger.v3.oas.annotations)
api.tag=@io.swagger.v3.oas.annotations.Operation#tags
api.tag[@io.swagger.v3.oas.annotations.Operation#deprecated]=deprecated
#Tag(s)
api.tag=@io.swagger.v3.oas.annotations.tags.Tag#name
api.tag[@io.swagger.v3.oas.annotations.tags.Tags]=groovy:```
    @it.annValue("io.swagger.v3.oas.annotations.tags.Tags").collect{it.name}
```

api.tag[@io.swagger.v3.oas.annotations.media.Schema#deprecated]=deprecated
