---
code: yapi
description: YAPI export rules (api.open, api.status, api.tag, field.mock)
default-enabled: true
---

#yapi tag for java
api.tag[@java.lang.Deprecated]=deprecated
api.tag[#deprecated]=deprecated
api.tag[groovy:it.containingClass().hasAnn("java.lang.Deprecated")]=deprecated
api.tag[groovy:it.containingClass().hasDoc("deprecated")]=deprecated
#yapi tag for kotlin
api.tag[@kotlin.Deprecated]=deprecated
api.tag[groovy:it.containingClass().hasAnn("kotlin.Deprecated")]=deprecated
#yapi tag
api.tag=#tag
#yapi status
api.status[#undone]=undone
api.status[#todo]=undone
#api open
api.open[#open]=true
#yapi mock
field.mock=#mock
