!https://raw.githubusercontent.com/tangcent/easy-api/master/third/javax.validation.mock.config
!https://raw.githubusercontent.com/tangcent/easy-api/master/third/swagger3.config
!https://raw.githubusercontent.com/tangcent/easy-api/master/third/swagger.config
!https://raw.githubusercontent.com/tangcent/easy-api/master/third/swagger.advanced.config
