field.name=@com.fasterxml.jackson.annotation.JsonProperty#value
field.name=@com.google.gson.annotations.SerializedName#value
field.name=@com.alibaba.fastjson.annotation.JSONField#name
field.name=@com.alibaba.fastjson.annotation.JSONField#value

field.ignore=@com.fasterxml.jackson.annotation.JsonIgnore
field.ignore=@com.alibaba.fastjson.annotation.JSONField#serialize

field.mock=@com.fasterxml.jackson.annotation.JsonFormat#pattern
field.order.with=@com.fasterxml.jackson.annotation.JsonPropertyOrder#value

json.unwrapped=@com.fasterxml.jackson.annotation.JsonUnwrapped
field.name.prefix=@com.fasterxml.jackson.annotation.JsonUnwrapped#prefix
field.name.suffix=@com.fasterxml.jackson.annotation.JsonUnwrapped#suffix

field.required=@javax.validation.constraints.NotBlank
field.required=@javax.validation.constraints.NotNull
field.required=@javax.validation.constraints.NotEmpty
field.required=@jakarta.validation.constraints.NotBlank
field.required=@jakarta.validation.constraints.NotNull
field.required=@jakarta.validation.constraints.NotEmpty
field.required=@org.springframework.lang.NonNull

field.mock=@org.springframework.format.annotation.DateTimeFormat#pattern

method.doc=@io.swagger.annotations.ApiOperation#value
param.doc=@io.swagger.annotations.ApiParam#value
field.demo=@io.swagger.annotations.ApiModelProperty#value

method.doc=@io.swagger.v3.oas.annotations.Operation#summary
param.doc=@io.swagger.v3.oas.annotations.Parameter#description
field.demo=@io.swagger.v3.oas.annotations.media.Schema#description
