generic.class.has.api=groovy:it.name().endsWith("Client")
generic.path=#path
generic.path[groovy:it.contextType()=="class"]=groovy:```
def name =it.name().replace('.','/')
def index = name.lastIndexOf('/')
"/"+tool.camel2Underline(name[0..index]+tool.uncapitalize(name[index+1..-1]))
```
generic.path[groovy:it.contextType()=="method"]=groovy:it.name()
generic.http.method[groovy:it.contextType()=="method"]=groovy:```
(it.argCnt()==0||it.args().every{it.type().isNormalType()})?"GET":null
```
generic.http.method=#method
generic.http.method[#post]=POST
generic.http.method[#POST]=POST
generic.http.method[#get]=GET
generic.http.method[#GET]=GET
#use POST by default
generic.http.method=POST
#always true
generic.method.has.api=true

#Indicating a method parameter should be bound to the body of the web request.
generic.param.as.json.body=groovy:```
if(it.type().isNormalType()){
    return false
}
if(it.method().hasDoc("GET")||it.method().hasDoc("get")){
    return false
}
def method = it.method().doc("method")
if(method=="GET"||method=="get"){
    return false
}
return true
```

generic.param.as.form.body=false