# 提供中文markdown文档

# title index
md.title=groovy:```
    //increase index
    def i = session.get(deep+".i")
    i=i==null?1:i+1
    session.set(deep+".i",i)

    //title index
    def t = ""
    for(d in 1..deep){
        if(d>1){
            t += "."
        }
        t += session.get(d+".i")
    }

    return tool.repeat("#",deep) + " " + t + " " + title
```

# for api
md.basic=> 基础信息
md.basic.path=groovy:"**路径参数:** "+doc.path
md.basic.method=groovy:"**请求方法:** "+doc.method
md.basic.desc=groovy:"**备注:** "+doc.desc
md.request=> 请求参数
md.request.path=**路径参数:**
md.request.headers=**Headers:**
md.request.query=**Query:**
md.request.body=**Body:**
md.request.body.demo=**Body示例:**
md.request.form=**表单:**
md.response=> 返回数据
md.response.headers=**Headers:**
md.response.body=**Body:**
md.response.body.demo=**响应示例:**

# for method doc
md.methodDoc.desc=groovy:"**描述:** "+doc.desc
md.methodDoc.params=**参数:**
md.methodDoc.return=**返回:**