#properties.additional=https://raw.githubusercontent.com/tangcent/easy-yapi/master/third/javax.validation.mock.config
#properties.additional=https://raw.githubusercontent.com/tangcent/easy-yapi/master/third/swagger.config
#properties.additional=https://raw.githubusercontent.com/tangcent/easy-yapi/master/third/swagger.advanced.config